//COLORS
$color-white: #fff;
$color-black: #000;

$color-primary: #FF0243;
$color-primary-light: #e35f87;
$color-primary-dark: #8f193d;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;

$color-secondary: #2D2D2D;

//FONTS
$font-primary:  Acme, serif;

//FONT-SIZES
$heading : 3rem;

$padding-sides : 10vw;




